<!doctype html>

<html>
<head>
	<title> Profile </title>
	<meta charset="utf-8">
	<link href="css/accounts.css" rel="stylesheet">
	<a href = 'edit' ><img src = "images/profile-edit.jpg" id = "sized-down"></a>
	<a href = '/' ><img src = "images/home-button.jpg" id = "home"></a>
	<h3 class = "info"> Username <br/> Password </h3>
</head>
<body>
	<div class = "container">
		<h3> Status </h3>
		{{#each status}}
		<div class = "dis-box">
			<p> {{name}} 
				<a href = "#"> <img src = "images/checkBox.jpg"> </a>
			</p>
		</div>
		{{/each}}
		<div class = "ace-box">
		</div>
	</div>

	<div id="points">
		<h3> Bustle Score </h3>
		<div class ="sum-box">
			Distance
		</div>
		<div class ="sum-box">
			Routes
		</div>

		<div class = "tot-box">
				Total
		</div>

		<div class ="sum-box">
			Bonus
		</div>
	</div>

	<link href="css/accounts.css" rel="stylesheet">
	<script src = "https://code.jquery.com/jquery.js"></script>
	<script src = "js/project.js"></script>
</body>
</html>