<!doctype html>

<html>
<head>
	<title> Profile </title>
	<meta charset="utf-8">
	<a href = '#' ><img src = "images/profile-edit.jpg" id = "sized-down"></a>
	<h3 class = "info"> Username <br/> Password </h3>
</head>
<hr>
<body>
	<div class = "container">
		<h3> Status </h3>
		{{#each status}}
		<div class = "dis-box">
			<p> {{name}} 
				<a href = "#"> <img src = "images/checkBox.jpg"> </a>
			</p>
		</div>
		{{/each}}
		<div class = "ace-box">
		</div>
	</div>
	<hr>
	<h3> Bustle Score </h3>
	<div class = "sum-box">
		3 boxes
	</div>
	<div class = "tot-box">
		1 box float right
	</div>
	<link href="css/accounts.css" rel="stylesheet">
	<script src = "https://code.jquery.com/jquery.js"></script>
	<script src = "js/project.js"></script>
</body>
</html>