<!DOCTYPE html>
<html>
	<head>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114826540-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-114826540-1');
		</script>
		<!-- Global site tag (gtag.js) - Google Analytics end -->



		<title>Bustle</title>	
		<meta charset="utf-8">
  		<link href="../css/project-starter.css" rel="stylesheet">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    	<link href="../css/chat.css" rel="stylesheet" />
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<script defer src="/js/fontawesome-all.js"></script>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=1850783788328993&autoLogAppEvents=1';
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		</script>

		<div id="top"> 
      		<div class="title"><img src="/images/Logo.jpg" alt="Avatar" class="avatar"></div>
    	</div>


		<div id="fb-root"></div>

		<div class="flexy">
			<button>
				<a href="#" id="endStop"> <i class="fa fa-star favourite_icon" style="font-size:48px;color:grey"></i>
				</a>
			</button>
			<button>
				<a href="/index" id="startStop"> <i class="fa fa-home" style="font-size:48px;color:black"></i>
				</a>
			</button>
		</div>

		<div id="routes-title"></div>
		<div class="dropdown">
                        	<button class="dropbtn" id="innerButt">Bus Stops</button>
                        	<div id="myDropdown" class="dropdown-content">
                        		{{#each currentStops}}
                        		<a href="#" class="stopp" id="{{stop}}">{{stop}}</a>
                        		{{/each}}
                        	</div>
                        </div><br>
		<div class="container">
            <div class="accessibility-section">
                <form id="statusformId" onsubmit="notifyDriver();return false;">
                    <fieldset id="ridestatus">
                        <legend><h3> Currently, for this ride: </h3></legend>
                        <input type="checkbox"> I have a wheelchair <br>
                        <input type="checkbox"> I have a bike <br>
                        <input type="checkbox"> I have a walker <br>
                        <input type="checkbox"> I have a stroller <br><br>
                        <a href = "#">
                        <button id="notifybutton">Notify Driver</button>
                    	</a>
                    </fieldset>
                </form>
            </div>
        </div>


		<div class="dropdown">
  			<div id="myDropdown" class="dropdown-content">
  			{{#each currentStops}}
  			<a href="#">{{stop}}</a>
  			{{/each}}
  			</div>
  			
		</div>

<!--
		<div class="flexy">
		<button >
			<a href="#" id="endStop"> 
				<p class="bigger"> Starting Stop </p>
			</a>
		</button>
		<button>
			<a href="#" id="startStop"> 
				<p class="bigger"> Ending Stop </p>
			</a>
		</button>
		</div>
-->
	


	<div id ="stylefb">
		<div class="fb-comments" data-width="800px" data-numposts="10" data-order-by="reverse_time" style="position: static;"></div>
	</div>


	<script src = "https://code.jquery.com/jquery.js"></script>
    <script src = "../js/route.js"></script>
    {{> facebook}}
    <script src="/js/facebookT.js"></script>
</body>
</html>