<!DOCTYPE html>
<html>
	<head>
		
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='170544518-3',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->



		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114826540-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-114826540-1');
		</script>
		<!-- Global site tag (gtag.js) - Google Analytics end -->



		<title>Bustle</title>	
		<meta charset="utf-8">
  		<link href="../css/project-starter.css" rel="stylesheet">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    	<link href="../css/chat.css" rel="stylesheet" />
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<script defer src="/js/fontawesome-all.js"></script>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=1850783788328993&autoLogAppEvents=1';
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		</script>
		

		<div id="top"> 
      		<div class="title"><img src="/images/LogoFE.jpg" alt="Avatar" class="avatar"></div>
    	</div>


		<div id="fb-root"></div>

		<div class="flexy">
			<button>
				<a href="#" id="endStop"> <i class="fa fa-star favourite_icon" style="font-size:48px;color:#f1cd0a"></i>
				</a>
			</button>
			<button>
				<a href="/index" id="startStop"> <i class="fa fa-home" style="font-size:48px;color:#555"></i>
				</a>
			</button>
		</div>

		<div id="routes-title"><b></b></div>

		<div class="dropdown">
			<p> Select your stop: <button class="dropbtn trackstop" id="innerButt">Bus Stops &#9660;</button> </p> 
            	
            	<div id="myDropdown" class="dropdown-content">
            		{{#each currentStops}}
            		<a href="#" class="stopp" id="{{stop}}">{{stop}}</a>
            		{{/each}}
            	</div>
         </div><br>

		<div class="dropdown">
			
  			<div id="myDropdown" class="dropdown-content">
  			{{#each currentStops}}
  			<a href="#">{{stop}}</a>
  			{{/each}}
  			</div>
  			
		</div>

		<div class="container">
            <div class="accessibility-section">
                <form id="statusformId" onsubmit="notifyDriver();return false;">
                    <fieldset id="ridestatus">
                        <legend><h3> For this ride: </h3></legend>
                        <input type="checkbox"> I have a wheelchair<br>
                        <input type="checkbox"> I have a bike &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
                        <input type="checkbox"> I have a walker&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
                        <input type="checkbox"> I have a stroller&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br>
                        <a href = "#">
                        <button id="notifybutton" class="tracknotify">Request Stop</button>
                    	</a>
                    </fieldset>
                </form>
            </div>
        </div>
  

<!--
		<div class="flexy">
		<button >
			<a href="#" id="endStop"> 
				<p class="bigger"> Starting Stop </p>
			</a>
		</button>
		<button>
			<a href="#" id="startStop"> 
				<p class="bigger"> Ending Stop </p>
			</a>
		</button>
		</div>
-->
	

<!--
	<div id ="stylefb">
		<div class="fb-comments" data-width="800px" data-numposts="10" data-order-by="reverse_time" style="position: static;"></div>
	</div>
-->

	<section class="trackchat">
	<div id="myNav" class="overlay">
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	  <div class="overlay-content">
	    <a href="#"> 
	    <div id ="stylefb">
			<div class="fb-comments" data-width="800px" data-numposts="10" data-order-by="reverse_time" style="position: static; "></div>
		</div></a>
	  </div>
	</div>
	</section>


	<!--
	<span style="font-size:30px;cursor:pointer;position: relative;top:90%;" onclick="openNav()"><img class="manImg" src="/images/fb.png"> </img>
	&#9658; Chat with others</span>
	-->

	<span style="font-size:30px;cursor:pointer;position: relative;top:90%;" onclick="openNav()">
	<div class="containerv">
	  <img src="/images/fb3.png" alt="Norway" style="width:100%;">
	  <div class="text-block"> 
	    
	    <!--
	    <p>Ask others about bus or line information.</p>
	    <span style="font-size:30px;cursor:pointer;position: relative;top:90%;" onclick="openNav()">
		&#9658; Chat with others</span>

		-->

	  </div>
	</div>
	</span>






	<script src = "https://code.jquery.com/jquery.js"></script>
    <script src = "../js/route.js"></script>
    {{> facebook}}
    <script src="/js/facebookT.js"></script>
</body>
</html>