<!DOCTYPE html>
<html>
	<head>
		<title>Bustle</title>	
		<meta charset="utf-8">
  		<link href="../css/project-starter.css" rel="stylesheet">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<script defer src="/js/fontawesome-all.js"></script>
	</head>
	<body>
		<div id="fb-root"></div>
		<div class="flexy">
			<button>
				<a href="#" id="endStop"> 
					<p> Favorites </p>
				</a>
			</button>
			<button>
				<a href="/index" id="startStop"> 
					<p> Home </p>
				</a>
			</button>
		</div>

		<div id="routes-title"></div>
<!--
		<div class="flexy">
		<button >
			<a href="#" id="endStop"> 
				<p class="bigger"> Starting Stop </p>
			</a>
		</button>
		<button>
			<a href="#" id="startStop"> 
				<p class="bigger"> Ending Stop </p>
			</a>
		</button>
		</div>
-->
		<div class="downC">
		<button> 
			<a href="chat"> 
				<p> Connect with Route </p>
			</a>
		</button>
		</div>
	<script src = "https://code.jquery.com/jquery.js"></script>
    <script src = "../js/route.js"></script>
</body>
</html>