<html>
<head>
	<title>Bustle</title>	
	<meta charset="utf-8">
	<link href="css/project-starter.css" rel="stylesheet">
</head>
<body>
	<div id="maps">


		<iframe src="https://www.google.com/maps/embed?pb=!1m54!1m8!1m3!1d3056.035103583551!2d-117.24300539192389!3d32.88890957084817!3m2!1i1024!2i768!4f13.1!4m43!3e0!4m3!3m2!1d32.8783424!2d-117.2392871!4m3!3m2!1d32.8742492!2d-117.238411!4m3!3m2!1d32.8730571!2d-117.2394415!4m5!1s0x80dc06c8649de33f%3A0x7d3f073a6e73c6c5!2sScholars+Dr+South+%26+Revelle+College+Dr!3m2!1d32.872662399999996!2d-117.2415267!4m3!3m2!1d32.8757918!2d-117.2429832!4m3!3m2!1d32.8778103!2d-117.2436298!4m3!3m2!1d32.8802897!2d-117.24064109999999!4m3!3m2!1d32.8840235!2d-117.2423228!4m3!3m2!1d32.8868838!2d-117.242384!4m3!3m2!1d32.889883399999995!2d-117.2431179!5e0!3m2!1sen!2sus!4v1517795995454" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>

		<a href="/Users/juanzapien/Documents/ixd-skeleton/public/accounts.html">
			<img id="profile" src ="images/profile-button.jpg">
		</a>


		<a href="/Users/juanzapien/Documents/ixd-skeleton/public/accounts.html">
			<img id="settings" src ="images/setting-button.jpg" width="50" height="50"
			style="
				position: fixed;  
    			top: 100;
    			right: 8;
    		">
		</a>

		<a href="/Users/juanzapien/Documents/ixd-skeleton/public/accounts.html">
			<img id="favorites" src ="images/star-button.jpg" width="50" height="50"
			style="
				position: fixed;  
    			top: 152;
    			right: 8;
    		">
		</a>
	</div>

	<div id="footer">

		<ul>
			<li><a href= "/Users/juanzapien/Documents/ixd-skeleton/public/index.html"> route 101 </a> </li>
			<li><a href= "/Users/juanzapien/Documents/ixd-skeleton/public/index.html"> route 202 </a> </li>
			<li><a href= "/Users/juanzapien/Documents/ixd-skeleton/public/index.html"> route 204 </a> </li>
			<li><a href= "/Users/juanzapien/Documents/ixd-skeleton/public/index.html"> regents </a> </li>
			<li style="float:right"><a class="move" href= "#"> search </a></li>
		</ul>
	</div>
</body>
</html>
