<!DOCTYPE html>
<html>

  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114826540-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114826540-1');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics end -->
    
    <meta charset="utf-8">
  	<link href="css/project-starter.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="css/favorites.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/js/fontawesome-all.js"></script>
  </head>

  <body>
    <div id="top"> 
      <div class="title"><img src="/images/LogoFE.jpg" alt="Avatar" class="avatar"></div>

      <div class="chip">
        <img src="/images/users.jpg" alt="Person" class= "fb" width="96" height="96">
          <div class="container">
            <h5><b>John Doe</b></h5> 
          </div>
      </div>




     <div class="log">
        <a href="/" class="btn btn-info btn-sm" style="background-color: #DE600B;
              border-color: #DE600B;">
          <span class="glyphicon glyphicon-log-out" style="background-color: #DE600B;
              border-color: #DE600B;" ></span> Log out
        </a>
      </div>
    </div>

    <div id="main">
  	        <div class = "search-container">
  	           <input type="text" id="search-p" onblur="this.value=''" onkeyup= "search()"placeholder="Search Routes to connect with">
            </div>
          
          <div id="routes-p">
            <ul id="routes-ul">
              {{#each routes}}
              <li class="lists" id="{{route}}"><a href="#">{{route}} </a></li>
              {{/each}}
            </ul>
          </div>
    


        <h1> Favorites </h1>

      
    <div class="box">

       {{#each favedroutes}}
        <div class="favedroutes">
            <button class="favebutton" id="{{route}}">{{route}}</button>
            </br>
        </div>
        {{/each}}
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src = "js/project.js"></script>
    {{> facebook}}
    <script src="/js/facebookT.js"></script>
  </body>

</html>