<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
  	<link href="css/project-starter.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="css/favorites.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/js/fontawesome-all.js"></script>
  </head>

  <body>
    <div id="top"> 
      <div class="title"><img src="/images/Logo.jpg" alt="Avatar" class="avatar"></div>

      <div class="chip">
        <img src="/images/users.jpg" alt="Person" class= "fb" width="96" height="96">
          <div class="container">
            <h5><b>John Doe</b></h5> 
          </div>
      </div>




     <div class="log">
        <a href="/" class="btn btn-info btn-sm">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
      </div>
    </div>

    <div id="main">
  	        <div class = "search-container">
  	           <input type="text" id="search-p" onblur="this.value=''" onkeyup= "search()"placeholder="Search Routes to connect with">
            </div>
          
          <div id="routes-p">
            <ul id="routes-ul">
              {{#each routes}}
              <li class="lists" id="{{route}}"><a href="#">{{route}} </a></li>
              <br>
              {{/each}}
            </ul>
          </div>
    
        <a href="#">Favorites</a>
        <p id="favenote"> <b>Note:</b> To add or remove a route to your favorites, navigate to the route's page using the search option in the home page. </p>

      <!-- the list of current routes in favorites -->

       {{#each favedroutes}}
        <div class="favedroutes">
            <button class="favebutton" id="{{route}}">{{route}}</button>
            </br>
        </div>
        {{/each}}
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src = "js/project.js"></script>
    {{> facebook}}
    <script src="/js/facebook.js"></script>
  </body>

</html>