<html>
<head>
	<title>Bustle</title>	
	<meta charset="utf-8">
  	<link href="css/project-starter.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="/js/fontawesome-all.js"></script>
</head>
<body>
	<div id="fb-root"></div>

		<div class="flexy">
		<button >
			<a href="#" id="endStop"> 
				<p class="bigger"> Starting Stop </p>
			</a>
		</button>
		<button>
			<a href="#" id="startStop"> 
				<p class="bigger"> Ending Stop </p>
			</a>
		</button>
		</div>

		<h1 class ="title"> The North Campus Shuttle</h1>
		
		<div class="flexy">
		<button >
			<a href="#" id="endStop"> 
				<p class="bigger"> Starting Stop </p>
			</a>
		</button>
		<button>
			<a href="#" id="startStop"> 
				<p class="bigger"> Ending Stop </p>
			</a>
		</button>
		</div>

		<p class="biggerc">Stop: <span id="demo"></span></p>

		<div id="routes-p">
              <ul id="routes-ul">
              {{#each routes}}
              <li class="lists" id="{{id}}"><a href="#">{{route}}</a></li>
              <br>
              {{/each}}
              </ul>
            </div>
    	</div>


		
		<div class="slidecontainer">
 			<input type="range" min="1" max="14" value="7" class="slider" id="myRange">
		</div>

		<button>
			<a href=
		</button>

		<button> 
			<a href="chat"> 
				<p> Connect with Route </p>
			</a>
		</button>
	<script src = "https://code.jquery.com/jquery.js"></script>
    <script src = "js/project.js"></script>
</body>
</html>
