.chatTitle {
	position: relative;
	text-align: center;
	margin:auto;
	width:50%;
	border: 1px solid black;
	border-radius: 50px;
	padding: 30px;
}

.fb-comments {
	left:200px;
	top: 100px;
	bottom: 0;
}


div.fb-comments.fb_iframe_widget{
	left:0;
	top:300px;
}