#maps{
	height:2500px;
	width:100%;
	margin-bottom: none;
}


#maps iframe{
	height: 100%;
	width: 100%;
	background: #000;
	margin-bottom: none;
}


body{
	background-color: #000;
}

#footer{
	border: none:;
	height: 50px;
	width: 100%;
	color:#0000ff;
	background: #00ff00;
}


ul {
	position: fixed;
    bottom: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #0000ff;
}

.move {
    background-color: #9D9FA2;
}




#profile {

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    width: 50px;
    margin-top: 1px;
    margin-right: 2px;
    position:fixed;
    top: 50px;
    right:6px;
}

#profile:hover{
    background-color:#3B6EC2;} 
}




#favorites {
    color:#ff0000;
    margin-top: 5px;
    margin-right: 2px;
    position:absolute;
    top: 100px;
    right:6px;
    }

#favorites:hover{
    background-color:#3B6EC2;} 
}

#settings {
    color:#ff0000;
    border-top: 5px;
    margin-top: 5px;
    margin-right: 2px;
    position:absolute;
    top: 100px;
    right:6px;
    }

#settings:hover{
    background-color:#3B6EC2;} 
}



/*this is css for accounts page*/










