
#acccount{
    top:0;
    right: 0;
    width: 500px;
    height:  500px;
}



#top{
    height: 20%;
    width: 100%;
    background-color: #FFFFFF;
    left:0 ;
    top: 0;
}






#main{
    height: 60%;
    width: 100%;
    background-color: #ffffff;
}

#bottom{
    height: 20%;
    width: 100%;
    margin-left: 5px;
}


body{
    height:100%;
    width: 100%;
    background-color: #FFFFFF;
    margin: 0%;
}


.button1 {
  padding: 80px 100px;
  font-size: 45px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  margin:auto;
  display:block;
  border: 3px solid #000;
}

.button1:hover {background-color: #ddd}

.button1:active {
  background-color: #ddd;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  text-align: center;
}


.button{
  /*padding: 70px 80px;*/
  font-size: 35px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 30%;
  margin:auto;
  display:block;
  border: 3px solid #000;
}

.button:hover {background-color: #ddd}

.button:active {
  background-color: #ddd;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  text-align: center;
}




/*these are styling for each of the divs so they are centered*/
div.title{
  width: 100%;
  height: 40%;
  background-color: #555;

}


img.avatar{
    width: 94%;
    margin: 3%;
}




.title{
    text-align: center;
}

.search{
  padding-top: 10%;
}

.favorites{
  padding-top: 8%;
}

#routes-p{
}

#routes-ul {
    display: none;
    position: absolute;
    float: right;
	 list-style-type: none;
    padding: 0px;
    margin: auto;
    background-color: #eee;
    opacity: 1;
    width: 80%;
    margin-left: 10%;

}

#routes-ul li a {
    border: 2px solid #000;
    margin-top: -1px;
    background-color: #555;
    padding: 1px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

#routes-ul li a:hover:not(.header) {
    background-color: #000;
}
.accounts{
    bottom: 0;
}

#stops-ul {
    display: inline;
    position: absolute;
    float: right;
   list-style-type: none;
    padding: 0px;
    margin: auto;
}

#stops-ul li {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 1px;
    text-decoration: none;
    font-size: 8px;
    color: black;
    display: inline;
}

#stops-ul li a:hover:not(.header) {
    background-color: #0000ff;
}



/*  Overlay*/

span{
    width:100%;
}
.sidenav , .sidenav2 {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 80px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
}

/* When you mouse over the navigation links, change their color */


/* Position and style the close button (top right corner) */



/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/*favorites page lining*/

.sidenav2 a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 80px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
}

.stared{
    width:20%;
    height: 30%;
    margin: auto;
    background-color:#dddddd; 
}





/* I think this is  login page css*/



.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  width: 40%;
  margin: 0 auto;
}


.topnav a {
  /*
  float: left; */

  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
  margin: auto;
  height: 200px;
  width: 400px;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text],{
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}


/*
.topnav .search-container {
  float: right;
}
*/

#search-p {}

input[type=text]{
    width: 90%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
    background-color: white;
    background-position: 8px 8px;
    background-image: url('/images/search-icon.jpg');
    background-repeat: no-repeat;
    padding: 10px 10px 10px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin: auto;
}

input[type=text]:focus{
    width:100%;
}


input#search-p{
}

.lists {
  margin: -5px;
}

.flexy{
  display: flex;
  margin: 2%;
  justify-content: space-between;
}

.bigger{
  font-size: 25px;
}

.biggerc{
  font-size: 25px;
  margin-left: 25%;
}

#endStop{}

#startStop{}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: none;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.downC{
  display: flex;
  margin-left: 45%;
}

#routes-title {
  text-align: center;
  font-size: 31px;
  /*font-style: italic;*/
}















/* Favs  */


.favs{
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
}



div.search-container{
  text-align: center;
  padding-top: 8%;
}




.log{
 float: right;
 margin-top: 3%;
}





.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 10%;
    border-radius: 5px; /* 5px rounded corners */
    position: absolute;
    top: -7px;
    left: 0px;
    background-color: #fff;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 5px 5px;
}



div.container{
  padding-right: 0;
  padding-left: 0;
  text-align: center; 
}





.chip {
    display: inline-block;
    padding: 0 25px;
    height: 42px;
    font-size: 10px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
    margin-top: 2%;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 42px;
    width: 42px;
    border-radius: 50%;
}



h4{
  font-size: 13px;
}



span.glyphicon.glyphicon-log-out{

  width: 23px;
  font-size: 21px;
}

.dropbtn {
    background-color: #58D5BA;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
}


.dropbtn:hover, .dropbtn:focus {
    background-color: #58D5C8;
}

.dropdown {
    /*position: relative;*/
    /*display: inline-block;*/
    text-align: center;
    margin-left: 27%;
}
.dropdown p{
  font-size: 18px;
  margin-left: -95px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

.container .accessibility-section {
}

#stylefb{
  background-color: #eee;
}


.fb_iframe_widget {
    display: inline-block;
    position: static;
}







